#GooroomNotifyWindow {
    border-radius: 19px;
	background-color: #ff0000;
	background-clip: border-box;
}

/*
.window-frame {
      box-shadow: 0 0 0 1px rgba(255,0,0,0.8),
                  0 10px 20px rgba(255,0,0, 0.81),
                  0 6px 6px rgba(255,0,0, 0.77);
}
*/

#GooroomNotifyWindow:hover {
    background-color: shade(#f9edbe, 0.98);
    border-color: shade(#f9edbe, 0.5);
}

#GooroomNotifyWindow label,
#GooroomNotifyWindow image {
    color: #555555;
}

#GooroomNotifyWindow label#summary {
    font-weight: Bold;
}

#GooroomNotifyWindow button {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: shade(#f9edbe, 0.9);
    color: #555555;
}

#GooroomNotifyWindow button:hover {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: shade(#f9edbe, 0.8);
    color: #555555;
}

#GooroomNotifyWindow progressbar {
    min-height: 6px;
    border-radius: 3px;
}

#GooroomNotifyWindow progressbar progress {
    background-image: none;
    background-color: shade(#555555, 1.2);
}

#GooroomNotifyWindow progressbar trough {
    background-image: linear-gradient(to bottom,
                                      shade(#f9edbe, 0.85),
                                      shade(#f9edbe, 1.05)
                                      );
    border: 1px solid shade(#f9edbe, 0.6);
    border-radius: 3px;
}
