/* We set some default options here.  This is loaded with a low priority,
 * the rest will use whatever default colors are in your main gtk theme */
#GooroomNotifyWindow {
	background-color: #ff0000;
    border-radius: 6px;
/*    border-width: 1px;
    border-color : #ffffff; */
    border: 1px solid #313440;
    box-shadow: inset 0 2px 4px rgba(60, 65, 78, 0.05);
}

#GooroomNotifyWindow label#summary {
    font-weight: Bold;
}
